*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



span,div{
    background-color: lightcoral;
    height: 100px;
    width: 100px;

    padding: 10px;
    border: 5px solid black;

    margin: 20px;
}


span{
    /* display: block; */

    /* child property */
    display: inline-block;
}

div{
    /* display: none; */
    visibility: hidden;
}