*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------- % ------------------------------- */
/* section{
    background-color: blue;
    width: 600px;
}

div{
    background-color: red;
    width: 50%;
} */


/* ------------------------------- em ------------------------------- */

/* ul>li{
    font-size: 2em;
} */

/* ------------------------------- rem ------------------------------- */

/* ul>li{
    font-size: 2rem;
} */

/* ------------------------------- vh and vw ------------------------------- */

/* div{
    height: 50vh;
    width: 50vw;
    background-color: red;
} */




